{% extends "app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<h5>Create Job</h5>
<form method="post" id="jobForm" data-locations-url="{% url 'api-load-customer-locations' %}" novalidate>
        {% csrf_token %}

{{ form|crispy }}
    <br>

<button type="submit" class="btn btn-primary">Create Job</button>
</form>
{% endblock content %}

{% block javascript %}
    <script>
        jQuery(function ($) {
            $("#formset").formset({
                animateForms: true,
                reorderMode: 'dom',
            });
        });
    </script>
    <script>
        $("#id_customer").change(function () {
            let url = $("#jobForm").attr("data-locations-url");
            let customerId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'locations': customerId
                },
                success: function (data) {
                    $("#id_customer_location").html(data);
                }
            });

        });
    </script>
{% endblock %}
