{% extends "app/base.html" %}
{% load static %}



{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <figure class="text-center">
                    <a href="{% url 'addjob' %}">
                        <img src="{% static 'app/images/createjob.png' %}"
                             alt="customers"
                             width="150"
                             height="150"
                        >
                    </a>
                    <figcaption>Create Job</figcaption>
                </figure>
            </div>
            <div class="col-sm">
                <figure class="text-center">
                    <a href="{% url 'searchjob' %}">
                        <img src="{% static 'app/images/customers_icon.png' %}"
                             alt="customers"
                             width="150"
                             height="150"
                        >
                    </a>
                    <figcaption>Search Jobs</figcaption>
                </figure>
            </div>
            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div>

{% endblock content %}
